body, html {
  background-color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  font-size: 10px;
  height: 100%;
  overflow-x: hidden;
}

header#title {
  background: #66B55C;
  padding: 2px;

  h1{
    color: #fff;
  }
}

section{
  padding: 20px;
}

section#welcome{

  padding: 20px;
  width: 70%;
  margin: 0 auto;

  p{
    font-family: "Open Sans";
    font-size: 14px;
    color:#555;
  }
  button#play {
    margin-top: 20px;
    background: url("../img/play.png") no-repeat;
    width: 100px;
    border: none;
    height: 100px;
    background-size: 100%;
    cursor: pointer;
  }

}

section#game{
  margin: 50px auto 0;
  display: none;
  width: 70%;
  height: 240px;
  text-align: center;
  border-top: 1px solid #ccc;

  div#input {
    margin: 30px auto 0;
    text-align: center;
    width: 400px;
    display: block;
  }

  .btns-container{
    float: left;
    width: 185px;

    button.digit {
      width: 45px;
      height: 45px;
      border-radius: 100px;
      font-size: 20px;
      font-weight: 700;
      background: #DE7922;
      color: #fff;
      margin-top: 4px;
    }
  }


  form.bottom {
    float: left;
    margin-left: 40px;

    textarea#req {
      margin-top: 35px;
      font-size: 30px;
      width: 115px;
      height: 60px;
      vertical-align: middle;
      border-radius: 50px;
      padding: 10px;
      text-align: center;
    }
    .clear {
      border: none;
      background: transparent;
      color: blue;
      text-decoration: underline;
      font-size: 14px;
      display: block;
      margin: 5px auto 0;
    }
    button#send {
      width: 82px;
      height: 30px;
      border-radius: 5px;
      background: #fff;
      margin: 20px auto 0;
      display: block;
      font-size: 14px;
      background: green;
      color: #fff;
      border: none;
      text-align: center;
    }
  }

}

section#output{
  display: none;
  clear: both;
  width: 70%;
  margin: 0 auto;
  border-top: 1px solid #ccc;


  div#tries {
    display: none;
    font-size: 22px;
    color: #12374C;
    font-family: "Open Sans";
  }
  table {
    width: 200px;
    margin: 20px auto 0;
    font-size: 15px;
    color: #555;

    td{
      text-align: center;
    }

    thead{
      td{
        border-bottom: 1px solid #ccc;
      }
    }
  }
  #congrats {
    font-size: 24px;
    margin-top: 20px;
    color: #13B513;
  }
}

.show{

}

